<div class="container">
  Message from server ->  <h1>{{this.welcomeMessage}}</h1>

  <div class="container col-lg-6">
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <button (click)=redirectToLogout() class="btn btn-success">Logout</button>
        </form>
      </div>
    </div>
  </div>

</div>
